.container {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #000;
}

.aboutTitle {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
}

.aboutContent {
    padding-left: 100px;
    padding-right: 100px;
}

.stockPic {
    display: block;
    margin-left: 100px;
    margin-right: auto;
    width: 25%;
    float: left;
    padding-right: 30px;
}

.chartTitle {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
}

.chartContent {
    padding-left: 100px;
    padding-right: 100px;
}

.whoTitle {
    text-align: center;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.whoContent {
    padding-left: 100px;
    padding-right: 100px;
}

.hunterPic {
    display: block;
    margin-right: 100px;
    margin-left: auto;
    width: 20%;
    float: right;
    padding-left: 30px;
}

.peopleContainer {
    display: flex;
    justify-content: center;
}

.people {
    max-width: 100%;
    height: auto;
    margin-left: 50px;
    padding-bottom: 50px;
}