.container {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    border: 1px solid #000;
}

/* .aboutContainer {
    
} */

.aboutTitle {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
}

.aboutContent {
    padding-left: 100px;
    padding-right: 100px;
}

.stockPic {
    display: block;
    margin-left: 100px;
    margin-right: auto;
    width: 25%;
    float: left;
    padding-right: 30px;
}

.chartTitle {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
}

.chartContent {
    padding-left: 100px;
    padding-right: 100px;
}

.whoTitle {
    text-align: center;
    margin-top: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.whoContent {
    padding-left: 100px;
    padding-right: 100px;
}

.hunterPic {
    display: block;
    margin-right: 100px;
    margin-left: auto;
    width: 20%;
    float: right;
    padding-left: 30px;
}

.peopleContainer {
    display: flex;
    justify-content: center;
}

.people {
    max-width: 100%;
    height: auto;
    margin-left: 50px;
    padding-bottom: 50px;
}

.one {
    background-color: rgb(170, 224, 255);
    padding: 100px 16px;
}

.two {
    text-align: center;
    font-size: 75px;
    color: white;
}

.three {
    text-align: center;
    font-size: 30px;
    color: white;
}

.four {
    padding: 84px
}

.five {
    font-size: 55px;
}

.six {
    font-size: 20px;
}
.seven {
    width: 400px;
    float: right;
    padding-right: 30px;
}

.eight {
    padding: 80px;
    background-color: rgb(228, 228, 228);
}

.nine {
    font-size: 55px;
    text-align: center;
}

.eleven {
    font-size: 20px;
    text-align: center;
}

.twelve {
    padding-top: 64px;
    display: flex;
    justify-content: center;
}

.thirteen {
    display: block;  
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    width: 300px;
}