#products-title h1{
    margin-left: 6%;
    color: #fff;
    -webkit-text-stroke: 1px black;
}

#productSearchBar {
    margin-left: 3%;
    padding: 3px;
}

#filterSearchBar {
    margin-left: 2%;
    padding: 3px;    
}

#productSearchButton {
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    margin-left: 10px;
    font-size: 1em;
    text-decoration: none;
  }

#productSearchButton:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
}

.Title {
    padding-left: 10px;
}