  #chart-div {
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
  }

  #chart-div::-webkit-scrollbar {
    display: none;
  }

  #chart-div h1 {
    margin-left: 10%;
  }
  
  #candlesticks-button {
    margin-left: 10%;
    height: 30px;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    font-size: 1em;
    border-radius: 35px;
    width: 160px;
  }
  
  #candlesticks-button:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 1em;
  }
  
  #line-button {
    height: 30px;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    font-size: 1em;
    border-radius: 35px;
    width: 110px;
  }
  
  #line-button:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 1em;
  }
  
  .databox {
    height: 15%;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 2%;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    display: grid;
  }
  
  .databox h3 {
    margin-top: 1%;
    margin-bottom: 2%;;
    margin-left: 2%;
  }
  
  .databox ul {
    margin-top: 0%;
    margin-left: 0%;
    list-style: none;
  }

  .product-slider {
    max-width: 95%;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 1%;
  }

  .product-slider::-webkit-scrollbar {
    display: none;
  }

  #images {
    /*
    height: 350px;
    width: 400px;
    */
    height: 100%;
    width: 95%;
    border-style: solid;
    border-width: 1px;
  }

  .buttons {
    margin-left: -6%;
    padding-left: 0%;
  }

  .product-prev {
    width: 50px;
    height: 30px;
    margin-left: 5px;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    font-size: 1em;
    border-radius: 35px;
  }

  .product-prev:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 1em;
  }

  .product-next {
    width: 50px;
    height: 30px;
    margin-left: 15%;
    color: #fff;
    background-color: #000;
    border: 1px solid #fff;
    font-size: 1em;
    border-radius: 35px;
  }

  .product-next:hover {
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    font-size: 1em;
  }