.navBar {
  background-color: rgb(200, 243, 245);
  padding: none;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  padding-left: 25px;
  padding-right: 25px;
}

.navTabs {
  background-color: rgb(200, 243, 245);
  color: black;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  width: 15%;
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

.navTabs:hover {
  background-color: lightgreen;
} 

.searchBar {
  position: relative;
  top: 30px;
  left: 35px;
}
