html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #fff;
}

/* Navigation Bar */
.navBar-div {
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #fff;
  border-width: 1px;
}

hr {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 0px;
  margin-bottom: 0px;
}

#menu {
  margin-left: 20%;
  align-items: center;
}

/* --------------- */


/* Navigation Links */
#link {
  padding-right: 35px;
  font-size: 1em;
  color: #FFD700;
}

#link:hover {
  color: #fff;
}

#link.active {
  color: #fff;
}

/* --------------- */

/* Search Bar */
#searchBar {
  margin-left: 25px;
  padding: 3px;
}

#searchButton {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  margin-left: 10px;
  font-size: 1em;
  text-decoration: none;
}

#searchButton:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

/* --------------- */


/* Footer */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------- */