html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #fff;
}

/* Navigation Bar */
.navBar-div {
  border-style: solid;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #fff;
  border-width: 1px;
}

hr {
  margin-left: 70px;
  margin-top: 0px;
  margin-bottom: 0px;
}

#menu {
  margin-left: 65%;
  align-items: center;
}

/* --------------- */


/* Navigation Links */
#link {
  padding-right: 35px;
  font-size: 1em;
  color: #FFD700;
}

#link:hover {
  color: #fff;
}

#link.active {
  color: #fff;
}

/* --------------- */

/* Search Bar */
#searchBar {
  margin-left: 25px;
  padding: 3px;
}

#searchButton {
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  margin-left: 10px;
  font-size: 1em;
  text-decoration: none;
}

#searchButton:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
}

/* --------------- */

/* Body */
#content {
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 1%;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
}

#title h1 {
  margin: 0px;
  text-align: center;
  padding-bottom: 1%;
  color: #fff;
  -webkit-text-stroke: 1px black;
}

#newsArticles {
  height: 450px;
  max-width: 100%;
}

#slider {
  max-width: 95%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 1%;
}

#slider::-webkit-scrollbar {
  display: none;
}

#sliderbutton-prev {
  width: 50px;
  height: 30px;
  margin-left: 10%;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  font-size: 1em;
}

#sliderbutton-prev:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 1em;
}

#sliderbutton-next {
  width: 50px;
  height: 30px;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  font-size: 1em;
}

#sliderbutton-next:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 1em;
}

#images {
  height: 350px;
  width: 400px;
  border-style: solid;
  border-width: 1px;
}

#chart-div {
  justify-content: center;
}

#chart {
  height: 30%;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 1%;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
}

#candlesticks-button {
  margin-left: 15%;
  height: 30px;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  font-size: 1em;
}

#candlesticks-button:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 1em;
}

#line-button {
  height: 30px;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  font-size: 1em;
}

#line-button:hover {
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  font-size: 1em;
}

#data {
  height: 150px;
  width: 70%;
  margin-left: 15%;
  margin-top: 1%;
  margin-bottom: 1%;
  border-style: solid;
  border-width: 1px;
  border-color: #000;
  display: grid;
}

#data h3 {
  margin-top: 1%;
  margin-bottom: 0%;;
  margin-left: 2%;
}

#data ul {
  margin-top: 0%;
  margin-left: 0%;
  list-style: none;
}

/* --------------- */

/* Footer */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------- */